
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row" style="background-color: #013668; color: #ffffff; border-radius: 10px;">
			<div>
				<h1 style="text-align: center;">Our List of Shoes</h1>
			</div>

		</div>
		<br />

		<div class="row">
			<div class="col-xs-9">
				<div th:if="${emptyList}">
					<h5 style="font-style: italic;">Oops, no result found.</h5>
				</div>

				<table style="border: 0;" id="shoeList">
					<thead>
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="shoe-item" data-th-each="shoe : ${shoeList}">
							<td>
								<div th:if="${shoe != null}">
									<div class="row">
									
										<div class="col-xs-3">
											<a th:href="@{/shoeDetails?id=} + ${shoe.id}"><img class="img-responsive shoe-rack"
												th:src="#{adminPath} + @{/images/shoe/} + ${shoe.id} + '.png'" /></a>
										</div>

										<div class="col-xs-9">
											<a th:href="@{/shoeDetails?id=} + ${shoe.id}"><h4 th:text="${shoe.name}"></h4></a>
											
																				
											<p>
												<b>Our Price: </b> <span
													th:text="'$' + ${#numbers.formatDecimal(shoe.ourPrice, 0, 'COMMA', 2, 'POINT')}"
													style="color: red; font-size: 1.25em;"></span>&nbsp;&nbsp;<span
													th:text="'$' + ${#numbers.formatDecimal(shoe.ListPrice, 0, 'COMMA', 2, 'POINT')}"
													style="text-decoration: line-through;"></span>
											</p>
											
											<p><b>Description: </b><span th:text="${#strings.abbreviate(shoe.description, 500)}"></span></p>
										</div>
									</div>
									
								
								</div>
							</td>
						</tr>
					</tbody>
				</table>


			</div>
		</div>

	</div>
	<!--  End of container -->

	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
