
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<h2 class="home my-account-headline">
					<p>Welcome <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Shoes'"></span>!</p>
				</h2>
			</div>

			<div class="col-xs-3">
				<img src="/images/johns-shoes-logo.png" class="img-responsive">
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div th:if="${emptyList}">
					<h5 style="font-style: italic;">Oops, no result found.</h5>
				</div>
				
				<table style="border: 0;" id="shoeList">
					<thead><tr><th></th></tr></thead>
					<tbody>
						<tr class="shoe-item" data-th-each="shoe : ${shoeList}">
							<td>
								<div th:if="${shoe != null}">
									<div class="row">
										<div class="col-xs-3">
											<img class="img-responsive shoe-rack" th:src="#{adminPath}+@{/images/shoe/}+${shoe.id}+'.png'" />
										</div>
										
										<div class="col-xs-9">
											<h4 th:text="${shoe.name}"></h4>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				
			</div>
		</div>

	</div>
	<!--  End of container -->

	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
