
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row"
			style="background-color: #013668; color: #ffffff; border-radius: 10px;">
			<div>
				<h1 style="text-align: center;">Our List of Shoes</h1>
			</div>

		</div>
		<br />

		<div class="row">

			<div class="col-xs-9">
				<div th:if="${emptyList}">
					<h5 style="font-style: italic;">Oops, no result found.</h5>
				</div>

				<table style="border: 0;" id="shoeList">
					<thead>
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="shoe-item" data-th-each="shoe : ${shoeList}">
							<td>
								<div th:if="${shoe != null}">
									<div class="row" style="margin-bottom: 50px;">

										<div class="col-xs-3">
											<a th:href="@{/shoeDetails?id=} + ${shoe.id}"><img
												class="img-responsive shoe-rack"
												th:src="#{adminPath} + @{/images/shoe/} + ${shoe.id} + '.png'" /></a>
										</div>

										<div class="col-xs-9">
											<a th:href="@{/shoeDetails?id=} + ${shoe.id}"><h4
													th:text="${shoe.name}"></h4></a>


											<p>
												<b>Our Price: </b> <span
													th:text="'$' + ${#numbers.formatDecimal(shoe.ourPrice, 0, 'COMMA', 2, 'POINT')}"
													style="color: red; font-size: 1.25em;"></span>&nbsp;&nbsp;<span
													th:text="'$' + ${#numbers.formatDecimal(shoe.ListPrice, 0, 'COMMA', 2, 'POINT')}"
													style="text-decoration: line-through;"></span>
											</p>

											<p>
												<b>Description: </b><span
													th:utext="${#strings.abbreviate(shoe.description, 500)}"></span>
											</p>
										</div>
									</div>


								</div>
							</td>
						</tr>
					</tbody>
				</table>


			</div>
			
				<div class="col-xs-3" style="margin-top: 50px;">
				<h3>
					<label for="category">Category</label>
				</h3>
				<div class="list-group" id="category">
					<a th:href="@{/shoeRack(category='all')}"
						th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>
					<a th:href="@{/searchByCategory(category='Basketball')}"
						th:classappend="${activeBasketball}? 'active'"
						class="list-group-item">Basketball</a> <a
						th:href="@{/searchByCategory(category='Running')}"
						th:classappend="${activeRunning}? 'active'"
						class="list-group-item">Running</a> <a
						th:href="@{/searchByCategory(category='Tennis')}"
						th:classappend="${activeTennis}? 'active'"
						class="list-group-item">Tennis</a> <a
						th:href="@{/listNewArrivals}"
						th:classappend="${activeNewArrival}? 'active'"
						class="list-group-item">New Arrivals</a> 
				</div>
			</div>
		</div>

	</div>
	<!--  End of container -->

	<div th:replace="common/header :: footer" /></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>

	<script>
		$(document).ready(function() {
			$("#shoeList").dataTable({
				"lengthMenu" : [ [ 5, 10, 15, -1 ], [ 5, 10, 15, "All" ] ],
				"ordering" : false,
				stateSave : true
			});

			$("#shoeList").on('page.dt', function() {
				$('html, body').animate({
					scrollTop : $('#shoeList').offset().top
				}, 200);
			});
		});
	</script>

</body>
</html>
